:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

/* page */
.body {
  font-family: roboto;
}
.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.page-logo {
  color: var(--title-text-color);
}
.page-logo:hover {
  color: var(--accent-color);
}
/* hero */
.hero {
  color: var(--primary-white-color);
  background-color: #2f303a;
}

/* site-nav */
ul {
  list-style: none;
}
.site-nav {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.link {
  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.auth-nav {
  color: var(--primary-text-color);
}
.auth-nav:hover,
.auth-nav:focus {
  color: var(--accent-color);
}

/* section */
.section-title {
  color: var(--title-text-color);
}
.team {
  color: var(--title-text-color);
}

/* teem */
.section-teem {
  background-color: #f5f4fa;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer .footer-link {
  color: var(--primary-white-color);
}
.footer .footer-nav {
  color: #ffffff99;
}
.footer-nav:hover,
.footer-link:hover,
.footer-nav:focus,
.footer-link:focus {
  color: var(--accent-color);
}

/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
